

<%- include ../web/includehead/doctype %>
<head>
    <%- include ../web/includehead/head %>

</head>
<body>


<h1>401 Unauthenticated Access Error</h1>

<div>
    <h4> <%= error.code %>  <%= error.name %> </h4>
    <h4> <%= error.message %> </h4>
    <h4> <%= error.stack %> </h4>


</div>



</body>
</html>