
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- 优先使用 IE 最新版本和 Chrome -->
<meta name="renderer" content="webkit"> <!--360浏览器就会在读取到这个标签后，立即切换对应的内核。并将这个行为应用于这个二级域名下所有网址。-->

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Custom meta tags -->
<meta name="keywords" content="杰酷网">
<meta name="description" content="杰酷 就是cool jscool javascript cool">
<meta name="author" content="JinWYP">

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<link type="image/x-icon" rel="shortcut icon" href="<%= staticPath %>/images/favicon.ico" />


<!-- Bootstrap CSS -->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->

<!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">-->


<!-- Web site css -->
<!--

<link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/vendors/font-awesome/font-awesome.css">
<link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/vendors/bootstrap/bootstrap.css">
<link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/page/global.css">
<link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/page/index.css">
-->




<title><%= page.title %> | 杰酷 JS Cool </title>


