<%- include ./includehead/doctype %>
<head>
    <%- include ./includehead/head %>

</head>
<body>


<div class="container-fluid main-box">


</div>




<%- include ./includehead/bottomscript.ejs %>

<!--<script type="text/javascript" src="<%= staticPath %>/js/home.bundle.js"></script>-->

<script type="text/javascript" src="<%= staticPath %>/user-home/main-es5.js" nomodule defer></script>
<script type="text/javascript" src="<%= staticPath %>/user-home/main-es2015.js" type="module"></script>


</body>
</html>

